<div class="card border-0 ">
  <div class="shadow-lg">
    <a (click)="redirectToDetails(movie.id)">

      <img class="w-100 rounded-3 " [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" class="card-img-top"
        [alt]="movie.title" />
    </a>
  </div>

  <div class="card-body mt-2 px-0 position-relative  align-content-stretch">
    <h6 class="card-title fw-bold mb-0" data-toggle="tooltip" [title]="movie.title">
      {{ movie.title.split(" ").slice(0, 3).join(" ") }}
    </h6>
    <div class="text-body-secondary d-flex justify-content-between card_body_data">
      {{ movie.release_date | date }}
      <i *ngIf="!addedItem" class="fa-solid fa-heart "
        [ngStyle]="movie.watchList ? {'color': 'red'} : {'color': 'blue'}" (click)="handleAddtoWatchList(movie.id)"></i>
      <i *ngIf="addedItem" class="fa-solid  " (click)="handleRemove(movie.id)"></i>
    </div>
    <div class="col-md-6">
      <div class="progress blue ">
        <span class="progress-left ">
          <span class="progress-bar" [ngClass]="{'bg_green':movie.vote_average*10>=75}"></span>
        </span>
        <span class="progress-right ">
          <span class="progress-bar " [ngClass]="{'bg_green':movie.vote_average*10>=75}"></span>
        </span>
        <div class="progress-value  overflow-hidden position-relative">{{(movie.vote_average/10)*100|number:'1.0-0'}}<i
            class="fas fa-percent  fw-bold"></i></div>
      </div>


    </div>
  </div>
