.card_body_data i {
  color: #FFE353;

}

.progress {
  width           : 41px;
  height          : 41px;
  background-color: #FFE353;
  position        : absolute;
  top             : -45%;
  left            : 5%;
}


.circle {
  width           : 36px;
  height          : 36px;
  margin          : auto;
  background-color: black;

}

.vote__text {
  font-size: 1rem;
}

.fas {
  font-size: 6px;

}

.bg_green {
  background-color: rgb(93, 198, 93);
}
