<div class="container py-5">
    <div class="row g-5">
        <div class="col-md-6">
            <div class="d-flex">
                <div class="movie__img">
                    <img src="../../../assets/image.png" alt="" srcset="">
                </div>
                <div class="movie__desc ps-3">
                   <div class="d-flex justify-content-between">
                    <h3>Black widow</h3>
                    <button class="border-0 bg-transparent"><i class="fa-solid  fa-heart fa-xl "></i></button>
                   </div>

                <p class="text-muted">Sep 21,2017</p>

            <div class="d-flex">
                <div class="rating-stars">
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>

                  </div>
                  <p class="ps-2">9277</p>
            </div>
            <p>Natasha Romanoff, also known as Black Widow, confronts the darker parts of her ledger when a dangerous conspiracy with ties to her past arises. Pursued by....</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="d-flex">
                <div class="movie__img">
                    <img src="../../../assets/image.png" alt="" srcset="">
                </div>
                <div class="movie__desc ps-3">
                   <div class="d-flex justify-content-between">
                    <h3>Black widow</h3>
                    <button class="border-0 bg-transparent"><i class="fa-solid  fa-heart fa-xl "></i></button>
                   </div>

                <p class="text-muted">Sep 21,2017</p>

            <div class="d-flex">
                <div class="rating-stars">
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>

                  </div>
                  <p class="ps-2">9277</p>
            </div>
            <p>Natasha Romanoff, also known as Black Widow, confronts the darker parts of her ledger when a dangerous conspiracy with ties to her past arises. Pursued by....</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="d-flex">
                <div class="movie__img">
                    <img src="../../../assets/image.png" alt="" srcset="">
                </div>
                <div class="movie__desc ps-3">
                   <div class="d-flex justify-content-between">
                    <h3>Black widow</h3>
                    <button class="border-0 bg-transparent"><i class="fa-solid  fa-heart fa-xl "></i></button>
                   </div>

                <p class="text-muted">Sep 21,2017</p>

            <div class="d-flex">
                <div class="rating-stars">
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>

                  </div>
                  <p class="ps-2">9277</p>
            </div>
            <p>Natasha Romanoff, also known as Black Widow, confronts the darker parts of her ledger when a dangerous conspiracy with ties to her past arises. Pursued by....</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="d-flex">
                <div class="movie__img">
                    <img src="../../../assets/image.png" alt="" srcset="">
                </div>
                <div class="movie__desc ps-3">
                   <div class="d-flex justify-content-between">
                    <h3>Black widow</h3>
                    <button class="border-0 bg-transparent"><i class="fa-solid  fa-heart fa-xl "></i></button>
                   </div>

                <p class="text-muted">Sep 21,2017</p>

            <div class="d-flex">
                <div class="rating-stars">
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>

                  </div>
                  <p class="ps-2">9277</p>
            </div>
            <p>Natasha Romanoff, also known as Black Widow, confronts the darker parts of her ledger when a dangerous conspiracy with ties to her past arises. Pursued by....</p>
                </div>
            </div>
        </div>
    </div>
</div>