<div class="container">
  <div class="row">
    <div class="col-4 movie_img" *ngIf="movieDetails">
      <img class="main__img" [src]="'https://image.tmdb.org/t/p/w500' + movieDetails.poster_path" alt="Movie Poster" />
    </div>
    <div class="col-8 movie_content">
      <h2>{{ movieDetails.title }}</h2>
      <p class="movie_date">{{ movieDetails.release_date }}</p>
      <div class=""><span [innerHTML]="getRatingStars()"></span></div>
      <div class="movie_content_desc">
        <p>{{ movieDetails.overview }}</p>
      </div>
      <div class="movie_badges">
        <p class="movie_badge" *ngFor="let genre of movieDetails.genres">
          {{ genre.name }}
        </p>
      </div>
      <div class="movie_dura_lang d-flex gap-5">
        <p>
          Duration: <span>{{ movieDetails.runtime }} Min</span>
        </p>
        <p>
          Languages: <span>{{ getLanguages() }}</span>
        </p>
      </div>
      <div class="studio-img">
        <ng-container *ngFor="let company of movieDetails.production_companies">
          <img *ngIf="company.logo_path" [src]="'https://image.tmdb.org/t/p/w500' + company.logo_path"
            alt="Company Logo" />
        </ng-container>
      </div>
      <div class="fav_btn_container">
        <button><i class="fa-solid fa-heart fa-xl" (click)="handleAddtoWatchList()"></i></button>
      </div>
    </div>
  </div>
</div>
<div class="container sec_separator"></div>
<div class="container recommendations" *ngIf="recommendedMovies && recommendedMovies.length > 0">
  <h2 class="rec">Recommendations</h2>
  <div class="row g-4">
    <ng-container *ngFor="let recommendedMovie of recommendedMovies">
      <ng-container *ngIf="recommendedMovie.poster_path && recommendedMovie.title">
        <div class="col-md-2">
          <app-card [movie]="recommendedMovie"></app-card>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>