<div class="container">
  <div class="row">
    <div class="col-4 movie_img">
      <img class="main__img" src="../../../assets/image.png" alt="" />
    </div>
    <div class="col-8 movie_content">
      <h2>Black Widow</h2>
      <p class="movie_date">Sep 25, 2017</p>
      <div class="">Rating</div>
      <div class="movie_content_desc">
        Natasha Romanoff, also known as Black Widow, confronts the darker parts
        of her ledger when a dangerous conspiracy with ties to her past arises.
        Pursued by a force that will stop at nothing to bring her down, Natasha
        must deal with her history as a spy and the broken relationships left in
        her wake long before she became an Avenger.
      </div>
      <div class="movie_badges">
        <p class="movie_badge">Action</p>
        <p class="movie_badge">Crime</p>
        <p class="movie_badge">Thriller</p>
      </div>
      <div class="movie_dura_lang d-flex gap-5">
        <p>Duration: <span>134 Min</span></p>
        <p>Languages: <span>English</span></p>
      </div>
      <div class="studio-img">
        <img src="../../../assets/hUzeosd33nzE5MCNsZxCGEKTXaQ 1.png" alt="" />
      </div>
      <div class="fav_btn_container">
        <button><i class="fa-solid fa-heart fa-xl"></i></button>
      </div>
    </div>
  </div>
</div>
<div class="container sec_separator"></div>
<div class="container recommendations">
  <app-card></app-card>
</div>
