.page-link{
  background-color: transparent;
  color: black;
  cursor: pointer;
}
.page-link:hover{
  background-color: #FFE353;

}
.bg__secondary{
  background: #F3F1F1;

}
.btn__search{
  background-color: #FFE353;
}

