<div class="container py-5">
  <div class="row g-4">
    <div class="col-md-12">
      <div class="header__search bg__secondary py-5 px-4 mb-5">
        <h2 class="mb-4 fw-bold">Welcome to our movie app</h2>
        <p class="mb-4">
          Millions of movies, TV shows and people to discover. Explore now.
        </p>
        <div class="row">
          <div class="col-md-9 col-lg-10">
            <input
              [(ngModel)]="term"
              class="form-control border-0 header__input"
              placeholder="Search and explore...."
              type="text"
            />
          </div>
          <div class="col-md-3 col-lg-2">
            <button class="btn btn__search px-4">Search</button>
          </div>
        </div>
      </div>
    </div>
    <div
      class="col-md-3 col-lg-2"
      *ngFor="let movie of moviesList | search : term"
    >
      <app-card [movie]="movie" ></app-card>
    </div>
    <nav aria-label="Page navigation example d-flex justify-content-center">
      <ul class="pagination justify-content-center">
        <li
          class="page-item"
          *ngFor="let page of pages"
          (click)="getMovies(page)"
        >
          <a class="page-link border-0">{{ page }}</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
