@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

.navbar {
  background-color: rgba(255, 227, 83, 1) !important;
}

.nav-item a {
  color: #032541 !important;
  font-size: 19px;
}

.nav-link h2 {
  color: #032541;
  font-family: "Permanent Marker", cursive;
}
.nav-link h2 span {
  color: rgb(133, 71, 0);
}

.navbar-nav {
  align-items: center;
}

.nav-item i {
  color: #032541;
}

.nav-item.wish {
  position: relative;
}

.nav-item.wish span {
  position: absolute;
  background: #f3f1f1;
  color: #fff;
  height: 24px;
  width: 23px;
  top: -8px;
  right: -67%;
  text-align: center;
  border-radius: 50%;
}

.active- {
  font-weight: bold;
}

button i {
  color: #032541;
  font-size: 2rem;
}

.nav-item.wish button {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 18px;
  color: #032541;
  font-weight: bold;
  margin-right: 10px;
}

.nav-item.wish button.active {
  font-weight: bold;
  text-decoration: underline;
}
